:root {
   
}
.tema8 {
  --C: #000;/* color */
  --bg: #fff;/* background */
}
.tema9 {
  --C: #ccc;
  --bg: #000;
}

html {
  font-size: 12px;
}

body {
  margin:0;
  color:var(--C);
  background: var(--bg);
}
header {
  position: fixed;
  top:0;
  width:100%;
}
main {
  margin-top:8px;
}
button {
  margin: 5px 0;
}
button[x] {
  background: red;
}
.bodyS {/* Добавим полосу прокрутки */
  overflow: scroll;
  min-height: 1700px;
}
    
nav {/* Меню */
      
}