/*  ✪ https://zam.usite.pro/publ/
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2023
*/
#Oinf {opacity: 0; z-index: 999;
  position: fixed;
  padding: 3px;
  min-width: 140px;
  max-width: 250px;
  font-size: 1rem;/* 12pt */
  background: #000d;
  border: 1px solid #fff5;
  border-radius: 2px;
  outline: 3px solid #000d;
  user-select: none;/* Убераем выделение текста */
  box-shadow: 0 0 7px #000, inset 0 0 1px #fff4;
  transition: 1s;/* left, right */
}
#Oinf > h3 {/* Заголовок окна */
  margin: 0 0 3px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff3;
  color: #afac;
  letter-spacing: 1px;
  text-align: center;
}
#Oinf > div {/* сообщения */
  filter: blur(20px);
  overflow: hidden;
  position: relative;
  padding: 1px 4px 0 1em;
  transition: 1s;/* Вывод сообщений left, right */
}

#Oinf > div > div {display: none;
  font-size: .8em;
  text-shadow: 0 1px 1px #000;
}
#Oinf > div > div > i {/* Подсветка синим */
  color: #39f;
  font-style: normal;
}
#Oinf > div > span {/* Полоса загрузки (До автозакрытия) */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1px 0;
  border-right: 1px solid #0b09;
  height: 100%;
}

[class*="Oinf"]::after,[class*="Oinf"]::before {/* для всех сообщений*/
  position: absolute;
  top:.15em;
  left: 0;
  width: .55em;
  height: .55em;
}
.OinfL {/* Загрузка */
  color: #fffd
}
.OinfL::after,.OinfL::before {/* Для загрузки */
  content: '';
  border: .1em solid;
  border-radius: 50%;
}
.OinfL::after {
  border-color: #0b0 #0b0 #0000 #0000;
  animation: A360 1s infinite linear;
}
@keyframes A360 {
  100% {transform: rotate(360deg);}
}
.OinfL::before {
  border-color: #fff2;
}

[class*="Oinf"]:not(.OinfL)::after {
  top:.5em;
  line-height: 0;
}
.Oinf0 {/* ✗ Ошибка */
  color: #f00b;
  color: #f77;
}
.Oinf0::after {
  content: '✗';
  color: red;
}

.Oinf1 {/* ✓ Хорошо */
  color: #8f8;
}
.Oinf1::after {
  content: '✓';
  color:#3f3
}

.Oinf2 {/* ✉ Сообшение */
  color: #ff7;
}
.Oinf2::after {
  content: '✉';
  color: #ff1;
  top:.4em !important;
}

.Oinf3 {/* ⚠ Оповещение */
  color: #fc5;
}
.Oinf3::after {
  content: '★';
  color: #fc0;
  top: .55em !important;
  font-size: .85em;
}
