#Oinf {opacity: 0;
  position: fixed;
  padding: 3px;
  min-width: 140px;
  max-width: 250px;
  font-size: .9em;
  background: #000d;
  border: 1px solid #fff5;
  border-radius: 2px;
  outline: 3px solid #000d;
  transition: 1s;/* left, right */
}
#Oinf > h3 {/* Заголовок окна */
  margin: 0 0 3px 0;
  border-bottom: 1px solid #fff3;
  color: #0b0c;
  text-align: center;
}
#Oinf > div {/* сообщения */
  filter: blur(20px);
  overflow: hidden;
  position: relative;
  padding-left: .8em;
  transition: 1s;/* Вывод сообщений left, right */
}
#Oinf > div > div {display: none;
  font-size: .8em;
}

[class*="Oinf"]::after,[class*="Oinf"]::before {/* для всех сообщений*/
  position: absolute;
  top:.1em;
  left: 0;
  width: .55em;
  height: .55em;
}
.OinfL {/* Загрузка */
  color: #fffb;
}
.OinfL::after,.OinfL::before {/* Для загрузки */
  content: '';
  border: .1em solid;
  border-radius: 50%;
}
.OinfL::after {
  border-color: #0b0 #0b0 #0000 #0000;
  animation: A360 1s infinite linear;
}
@keyframes A360 {
  100% {transform: rotate(360deg);}
}
.OinfL::before {
  border-color: #fff2;
}

[class*="Oinf"]:not(.OinfL)::after {
  top:.4em;
  line-height: 0;
}
.Oinf0 {/* ✗ Ошибка */
  color: #f00b;
}
.Oinf0::after {
  content: '✗';
  color: red;
}

.Oinf1 {/* ✓ Хорошо */
  color: #0b0b;
}
.Oinf1::after {
  content: '✓';
  color: #0b0;
}

.Oinf2 {/* ✉ Сообшение */
  color: #ff1b;
}
.Oinf2::after {
  content: '✉';
  top: .35em !important;
  color: #ff1;
}

.Oinf3 {/* ⚠ Оповещение */
  color:#f90a;
}
.Oinf3::after {
  content: '⚠';
  color: #f90;
  top: .6em !important;
  font-size: .8em;
}
