/*  ✪ https://zam.usite.pro/publ/2-1-0-2
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2023
*/
/* ✦ Информационное окно ✓ `Инфо-Подсказки` ✦ *//* #region */
#Oinf, #Oinf *,
[class*="Oinf"]::after,  /* [class] Понижаем приоретет */
[class*="Oinf"]::before {/* Помогает интеграции на любой сайт */
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: inherit
}

#Oinf {z-index: 999;
  position: fixed;
  padding: 3px;
  min-width: 140px;
  max-width: 250px;
  font-size: 1rem;/* html 12pt */
  background: #000000ed;
  border: 1px solid #fff5;
  border-radius: 2px;
  outline: 3px solid #000d;
  box-shadow: 0 0 9px #222, inset 0 0 1px #fff4;
  user-select: none;/* Убераем выделение текста */
  transition: 1s;/* left, right */
}
#Oinf > h3 {/* Заголовок окна */
  margin: 0 0 3px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff3;
  color: #7f7;
  letter-spacing: 1px;
  text-align: center;
}

    /* ✦✦ Сообщения ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
#Oinf > div {
  filter: blur(20px);
  overflow: hidden;
  padding: 0 4px 0 1em;
  transition: 1s;/* Вывод сообщений left, right */
  /*border: 1px solid blue*/
}

#Oinf > div > div {display: none;
  font-size: .8em;
  text-shadow: 0 1px 1px #000;
 /* border: 1px solid green*/
}
#Oinf > div > div::first-letter {/* Первая буква всегда заглавная! */
  text-transform: uppercase;
  font-size: 1.9ex /*  высота (для разных шрифтов) */
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */

#Oinf > div > div > i {/* Подсветка синим */
  color: #39f;
  font-style: normal;
}

        /* ✦✦✦ icon ✗, ✓,.. ✦✦✦ *//* #region */
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #region */
#Oinf div > div > p:first-child {/* контенер */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:-1.2em;
  width: 1.2em;
  height: 1.1em;
  /* border: 1px solid red*/
}

#Oinf div > div > p:first-child::after,
#Oinf div > div > p:first-child::before {/* для всех сообщений */
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  /*line-height: 0;*/
 /*border: 1px solid lawngreen;*/
}
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #endregion */
/* Понижаем приоритет через: [id="Oinf"] */
[id="Oinf"] > div:not(.OinfL) > div > p:first-child::after {
  top: -.05em;
  left: .25em;
}

.Oinf0 {/* ✗ Ошибка */
  color: #f77;
}
#Oinf .Oinf0 > div > p:first-child::after {
  content: '✗';
  color: red;
}

.Oinf1 {/* ✓ Хорошо */
  color: #8f8;
}
#Oinf .Oinf1 > div > p:first-child::after {
  content: '✓';
  top: 0em;
  left: .15em;
  color:#3f3
}

.Oinf2 {/* ✉ Сообшение */
  color: #ff7;
}
#Oinf .Oinf2>div>p:first-child::after {
  content: '✉';
  top: -.14em;
  left: .2em;
  color: #ff1;
}

.Oinf3 {/* ⚠ Оповещение */
  color: #fc5;
}
#Oinf .Oinf3>div>p:first-child::after {
  content: '★';
  left: .14em;
  color: #fc0;
}

            /* ✦✦✦✦ .OinfL s Загрузка ✦✦✦✦ *//* #region */
.OinfL {
  color: #fffd
}
#Oinf .OinfL > div > p:first-child::after,
#Oinf .OinfL > div > p:first-child::before {/* Для загрузки */
  width: .7em;
  height: .7em;
  border: .06em solid;
  border-radius: 50%;
}
#Oinf .OinfL > div > p:first-child::before {
  border-color: #fff2;
}
#Oinf .OinfL > div > p:first-child::after {
  border-color: #0b0 #0b0 #0000 #0000;
  animation: A360 1s infinite linear;
}
@keyframes A360 {
  100% {transform: rotate(360deg);}
}
            /* ✦✦✦✦ .OinfL s Загрузка ✦✦✦✦ *//* #endregion */
        /* ✦✦✦ icon ✗, ✓,.. ✦✦✦ *//* #endregion */
    /* ✦✦ Сообщения ✦✦ *//* #endregion */

#Oinf > div > p:last-child {/* Полоса загрузки (До автозакрытия) */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1px 0;
  border-right: 1px solid #0b09;
  height: 99%;
}
/* ✦ Информационное окно ✓ `Инфо-Подсказки` ✦ *//* #endregion */


/* ✦ fieldset Рамка + Заголовок ✦ *//* #region */
fieldset {
  --fie-bor: var(--all-C);/* border, border-imege fie-n1 */
  --fie-Ct: var(--all-C);/* title, border, border-imege fie-n0/fie-n1 */
  --fie-b-sh: var(--all-b-sh); /* box-shadow fie-n0/fie-n1 */
  margin: 9px 2px 0 2px;
  padding: 4px 9px 12px 9px;
  width: calc(100% - 24px);/* 4 margin + 18 padding + 2 border */
  min-width: 0%; /* убераем выход рамки за пределы(когда внутри white-space: nowrap;) */
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--fie-Ct);
  box-shadow: 0 3px 5px var(--fie-b-sh);
}

legend {
  padding: 0 9px;
  font-weight: 600;
  color: var(--fie-Ct);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ✦ fieldset Рамка + Заголовок ✦ *//* #endregion */
